html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Nunito', sans-serif;
}

section {
    overflow: hidden; 
    padding-bottom: 6rem;
    padding-top: 6rem;
}

/* General */
.title {
    margin-bottom: 0.5rem;
}

.subtitle {
    line-height: 1.5;
    margin: 0;
}

.white {
    color: #FFF;
}

.main-title {
    font-weight: 800;
}

.main-text {
    font-weight: bolder;
}

.highlight {
    /* color: rgba(237, 136, 14, 0.9); */
    color: #00ddff;
    font-weight: 800;
}

/* Nav */
#main-nav {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 400;
    z-index: 1;
    letter-spacing: 0.1rem;
    transition: 0.2s linear;
    font-size: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
}

/* Experience */
#exps {
    font-weight: 800;
}
    #exps .subtitle {
        max-width: 600px;
        margin: 0 auto;
    }

    #exps .experience-list {
        margin: 1rem 0 1rem;
    }
        #exps .experience-list > .col-10 {
            display: flex;
        }

    #exps .skills-table {
        margin-top: 2rem;
        padding: 2rem;
    }
        #exps .skills-table > p {
            margin-bottom: 0.25rem;
        }

        #exps .skills-table > .progress {
            margin-bottom: 1rem;
        }
            #exps .skills-table > .progress:last-child {
                margin-bottom: 0;
            }

/* Hero */
#hero {
    background: url('../photos/bg_main_darkfiltered.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
}
    #hero .main-title {
        font-size: 4rem;
    }
    #hero .main-text {
        font-size: 2rem;
    }

/* About me */
#about-me {
    background-color: #212529;
    color: white;
}

#about-me .subtitle {
    margin-bottom: 2rem;
}

#about-me .list {
    line-height: 1.5;
    margin-bottom: 1rem;
}
    #about-me .list > .col-12 {
        display: flex;
    }
        #about-me .list > .col-12 > i {
            margin: 0.25rem 0.5rem 0 0;
        }

#about-me .profile-pic {
    display: flex;
    justify-content: flex-end;
}
    #about-me .profile-pic > img {
        align-self: center
    }

/* Contact me */
#contact-me .contact-list {
    margin-top: 4rem;
}
    #contact-me p {
        font-weight: 600;
        letter-spacing: 0.1rem;
        line-height: 1;
        margin: 0;
    }

/* Responsive layout: */
@media (max-width: 768px) {
    /* About me */
    #about-me .profile-pic {
        margin-top: 2rem;
        justify-content: center;
    }
        #about-me .profile-pic > img {
            max-width: 75%;   
        }

    /* Exp */
    #exps .experience-list {
        align-items: center;
        flex-direction: column;
    } 
    
    #exps .experience-list > .col-10 {
        margin-bottom: 1rem;
    }
        #exps .experience-list > .col-10:last-child {
            margin-bottom: 0;
        }

    /* Contact */
     #contact-me .contact-list > .col-12 {
        margin-bottom: 2rem;
    }
         #contact-me .contact-list > .col-12:last-child {
            margin-bottom: 0;
        }
}

@media (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 769px) {
    #about-me .content {
        padding-right: 75px;
    }
}