<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap 4 -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <!-- Montserrat Font  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />

    <!-- Fontawesome icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    
    <!-- Animated on scroll lib -->
    <link  rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="../../stylesheets/styles.css" />

    <!-- Favicon -->
    <link rel="Shortcut Icon" type="image/png" href="../../photos/favicon.png" />

    <title>Octavio Arruda</title>
  </head>
  <body>
    <nav
      id="main-nav"
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #1e1e1e;"
    >
      <a href="https://github.com/Schifer" target="_blank" class="navbar-brand">
        <span class="fas fa-dragon"></span> Octavio Arruda
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active p-2">
            <a class="nav-link" href="/"
              >Home<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item p-2">
            <a class="nav-link" href="/experiences">Experiências</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link" href="/aboutme">Sobre mim</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link" href="/contact">Contato</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
