<% include ../partials/header.ejs %>

<section id="about-me">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 content" data-aos="fade-down-right">
                <h1 class="title white">Um pouco sobre mim</h1>

                <p class="subtitle white text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex ex, ornare consectetur arcu et, aliquam egestas sem. Nulla vitae dolor eu
                    ligula rutrum scelerisque et sit amet leo. Morbi consequat ultrices eros a feugiat. Aenean sodales odio neque, at varius elit laoreet ut. Nulla
                    ut tincidunt quam. Nullam a pellentesque felis. Nam sit amet justo in tortor sodales euismod in et arcu. Mauris molestie elementum mi, id
                </p>

                <div class="row list">
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Esportes
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Corridas
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Motos
                    </div>
                </div>

                <div class="row list">
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Ciência da Computação
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Inteligência Artificial
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Desenvolvimento Web
                    </div>
                </div>

                <div class="row list">
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Curioso
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Desenvolvimento responsivo
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Entusiasta
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <img src ="photos/profilepic.jpg" class="col-12 col-md-5 profile-pic rounded-circle img-fluid img-responsive" data-aos="fade-up-left"/>                
        </div>
    </div>
</section>

<% include ../partials/footer.ejs %>