<% include ../partials/header.ejs %>

<section id="about-me">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 content" data-aos="fade-down-right">
                <h1 class="title white">A story about me</h1>

                <p class="subtitle white text-justify">
                    I'm Octavio Arruda and I'm a Web Developer. Lorem Ipsum is simply
                    dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to make a type specimen book.
                </p>

                <div class="row list">
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Sports
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Lifting
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Books
                    </div>
                </div>

                <div class="row list">
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Computer Science
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Artificial Intelligence
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Web Development
                    </div>
                </div>

                <div class="row list">
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Active
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Responsive
                    </div>
                    <div class="col-12 col-sm-4">
                        <i class="fas fa-angle-double-right highlight"></i> Enthusiastic
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="col-12 col-md-5 profile-pic" data-aos="fade-up-left">
                <img src="profilepic.jpg" alt="me" class="rounded-circle img-fluid img-responsive">
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer.ejs %>