<% include ../partials/header.ejs %>

<section id="contact-me">
    <div class="container">
        <h1 class="title text-center">Diga olá!</h1>

        <div class="row wrapper">
            <div class="col-12 col-sm-4 text-center contact-form">
                <div class="input-fields">
                    <input type="text" class="input" placeholder="Nome">
                    <input type="text" class="input" placeholder="E-mail">
                    <input type="text" class="input" placeholder="Telefone">
                    <input type="text" class="input" placeholder="Assunto">
                </div>
                <div class="msg">
                    <textarea placeholder="Mensagem" name="" id="" cols="30" rows="10"></textarea>
                    <div class="btn">Enviar</div>
                </div>
            </div>
        </div>

        <div class="row contact-list">
            <div class="col-12 col-sm-4 text-center">
                <i class="fas fa-map-marked display-4 pb-3"></i>
                <p class="main-text">Porto Alegre, Brazil</p>
            </div>
            <div class="col-12 col-sm-4 text-center">
                <i class="fas fa-mobile-alt display-4 pb-3"></i>
                <p class="main-text">+55 51 98586 8353</p>
            </div>
            <div class="col-12 col-sm-4 text-center">
                <i class="fas fa-envelope display-4 pb-3"></i>
                <p class="main-text">oaarruda@inf.ufrgs.br</p>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer.ejs %>