<% include ../partials/header.ejs %>

<!-- Education and Experiences page -->

<!-- 
1. Add a short description of section 
2. Some cards showing degree and internship exps 
3. Skills description plus skills bar 
-->

<section data-aos="fade-right" id="exps">
    <div class="container">
        <h1 class="title text-center">
            Experiências e competências
        </h1>
        <p class="subtitle text-center">
            Meus aprendizados acadêmicos e competências
        </p>

        <div class="row experience-list">
                <div class="row experience-list">
                        <div class="col-10 col-md-4">
                            <div class="card text-white bg-dark">
                                <div class="card-header">Faculdade</div>
                                <div class="card-body">
                                    <h5 class="card-title">Universidade Federal do Rio Grande do Sul</h5>
                                    <p class="card-text">Bacharelado em Ciência da Computação<br> 
                                        (Previsão de formatura em 2021).</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-4">
                            <div class="card text-white bg-dark">
                                <div class="card-header">Estágio</div>
                                <div class="card-body">
                                    <h5 class="card-title">FGTAS</h5>
                                    <p class="card-text">Desenvolvedor back-end usando Php como linguagem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-4">
                            <div class="card text-white bg-dark">
                                <div class="card-header">Estágio</div>
                                <div class="card-body">
                                    <h5 class="card-title">Dableo</h5>
                                    <p class="card-text">Desenvolvedor front-end e back-end usando o CMS Joomla </p>
                                </div>
                            </div>
                        </div>
        <!-- experience-list row close -->
        </div>
    <!-- container div close  -->
    </div>
    <!-- SKILLS SECTION -->
    <h1 class="title text-center">Habilidades</h1>
    <p class="subtitle text-center">
        Essas são minhas habilidades e conhecimentos
    </p>

    <div class="skills-table border border-dark">
        <p>HTML</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 94%">
            </div>
        </div>

        <p>CSS</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
            </div>
        </div>

        <p>JavaScript</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar"
                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
            </div>
        </div>
        
        <p>C#</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar"
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
            </div>
        </div>

        <p>Oracle</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar"
                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer.ejs %>