<% include ../partials/header.ejs %>

<section data-aos="fade-right" id="hero" class="d-flex flex-column justify-content-center">
    <h1 class="text-white text-center main-title">
        Hello, I'm <span class="highlight">Octavio</span>
    </h1>
    <p class="text-white text-center main-text">
        A creative <span class="highlight">Web Developer</span> based in Porto Alegre.
    </p>
</section>

<% include ../partials/footer.ejs %>
