<% include ../partials/header.ejs %>

<section data-aos="fade-right" id="hero" class="d-flex flex-column justify-content-center">
    <h1 class="text-white text-center main-title">
        Olá, eu sou <span class="highlight">Octavio</span>
    </h1>
    <p class="text-white text-center main-text">
        Um <span class="highlight">Desenvolvedor de Software</span> apaixonado por Cloud, motociclismo e esportes, </br>vivendo em Porto Alegre, Rio Grande do Sul.
    </p>
</section>

<% include ../partials/footer.ejs %>
